@model FitocracyFinal.Models.Usuario
@using System.Web.Optimization
@using FitocracyFinal.Models
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FITOCRACY</title>
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/miCSS.css")
    @Styles.Render("~/css/font-awesome.css")
    @Styles.Render("~/Content/ui-bootstrap-csp.css")
    @Styles.Render("~/Content/ui-grid.css")
    @Styles.Render("~/Content/bootstrap-datepicker.css")
    @Styles.Render("~/Content/bootstrap-datepicker3.css")
    <base href="/">
</head>
<body ng-app="Fitocracy">
    <nav class="navbar navbar-default">
        <div class="container" id="menu">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/Home" menu>FITOCRACY</a>
            </div>
            <ul class="nav navbar-nav navbar-right" ng-controller="userCtrl">
                <li usu="false" style="display:block" id="linkHome"><a href="#/Home" menu class="active"><i class="fa fa-home"></i> Home</a></li>
                <li usu="false" style="display:block"><a href="#/Coach" menu><i class="fa fa-play"></i> Hire a Coach</a></li>
                <li usu="false" style="display:block"><a href="#/About" menu><i class="fa fa-hand-o-up"></i> About Us</a></li>
                <li usu="false" style="display:block" id="linkLogin"><a href="#/Login" menu><i class="fa fa-user"></i> Login</a></li>

                <li usu="true" style="display:none"><a href="#/You" menu><i class="fa fa-user"></i> You</a></li>
                <li usu="true" style="display:none"><a href="#/Track" menu><i class="fa fa-heartbeat"></i> Track</a></li>
                <li usu="true" style="display:none"><a href="#/Connect" menu><i class="fa fa-envelope"></i> Connect</a></li>
                <li usu="true" style="display:none"><a href="#/Leaders" menu><i class="fa fa-trophy"></i> Leaders</a></li>          
                <li usu="true" style="display:none" class="dropdown" id="dropUsu" activo="false"></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div ng-view>
        </div>
    </div>
    <footer>
        <hr />
        <p>&copy; @DateTime.Now.Year - FITOCRACY</p>
    </footer>

    @Scripts.Render("~/Scripts/angular.js")
    @Scripts.Render("~/Scripts/angular-route.js")
    @Scripts.Render("~/Scripts/angular-resource.js")
    @Scripts.Render("~/Scripts/angular-ui/ui-bootstrap.js")
    @Scripts.Render("~/Scripts/angular-ui/ui-bootstrap-tpls.js")
    @Scripts.Render("~/Scripts/angular-animate.js")
    @Scripts.Render("~/Scripts/angular-touch.js")
    @Scripts.Render("~/Scripts/ui-grid.js")

    @Scripts.Render("~/Scripts/jquery-2.2.3.js")
    @Scripts.Render("~/Scripts/bootstrap.js")
    @Scripts.Render("~/Scripts/bootstrap-datepicker.js")

    @Scripts.Render("~/Scripts/FitocracyModule.js")

    @Scripts.Render("~/Scripts/Controllers/loginCtrl.js")
    @Scripts.Render("~/Scripts/Controllers/registroCtrl.js")
    @Scripts.Render("~/Scripts/Controllers/userCtrl.js")
    @Scripts.Render("~/Scripts/Controllers/trackCtrl.js")
    @Scripts.Render("~/Scripts/Controllers/youCtrl.js")

    @Scripts.Render("~/Scripts/Services/loginService.js")
    @Scripts.Render("~/Scripts/Services/registroService.js")
    @Scripts.Render("~/Scripts/Services/trackService.js")
    @Scripts.Render("~/Scripts/Services/youService.js")

    <script>
        $('a[menu]').click(function () {
            $('#menu li').removeClass('active');
            $(this).parent().addClass('active');
        })
    </script>
</body>
</html>